/*sticky icon bar*/
.icon-side-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
.icon-side-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  z-index: 0;
}
.icon-side-bar a:hover {
    background-color: #000;
}
.instagram {
  background: #bb0000;
  color: white;
}
.facebook {
  background: #3B5998;
  color: white;
}

/*padding for brand logo */
.container-fluid.logo {
    padding-bottom: 2em;
    padding-top: 2em;
}
.besik.img-responsive.rounded {
  margin: 0 auto;
}
.navbar {
  padding: 1em;
}
.navbar-inverse .navbar-toggle {
    background-color: #0ea2ce;
}
nav.navbar.navbar-inverse {
  background-color: rgba(25, 101, 146, 0.55);
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff !important;
}
ul.nav.navbar-nav a:hover {
    color: #0ea2ce !important;
}
p.lead.about-besik {
    font-family: 'Archivo', sans-serif;
}
.container.partnerships {
    padding-top: 2em;
    padding-bottom: 2em;
}
.row.partnerships {
    display: inline-flex;
}
/*besik footer*/
footer.besik-footer {
    background-color: #182948;
    padding-top: 2em;
    font-size: 16px;
}
.footer-icons {
    display: inline-flex;
}
.row-footer h4 {
    color: #efe992;
}
.row-footer .col-sm-12.col-md-4.col-lg-3 a {
    color: #fff;
    text-decoration: none;
}
.row-footer .col-sm-12.col-md-4.col-lg-3 a:hover {
    color: #0ea2ce;
}
.hours-email li {
  color: white;
}
.col-sm-12.col-md-4.col-lg-3 li {
    display: block;
    padding: 0.5em;
}
.about{
  text-transform: uppercase;
}
.connected {
  text-transform: uppercase;
}
.contact{
  text-transform: uppercase;
}
.container.copywright {
    background-color: #182948;

}
.footer-bottom .row.text-center {
    color: #fff;
    padding-bottom: 4em;
    padding-top: 4em;
}
.row.text-center p{
  padding-top: 2em;
}
.payment-icons {
    display: inline-block;
    float: right;
    margin-top: -0.5em;
    clear: both;
}
