/* logo */
.container.logo {
    padding: 1em;
}
/* navigation bar */
nav.navbar.navbar-inverse {
    background-color: #ffffff;
    border: none;
}
.navbar-inverse .navbar-nav>li>a {
  color: #000 !important;
  font-size: 16px;
}
ul.nav.navbar-nav {
    float: right;
}
ul.nav.navbar-nav a:hover{
    color: #ccc !important;
}
ul.dropdown-menu {
  font-size: 18px;
}
.navbar-inverse .navbar-toggle {
    border-color: #333;
    background-color: #0ea2ce;
}
/*title for joggers*/
p.lead.tees.text-center {
    font-size: 3em;
    font-weight: 350;
}
div#apparel-style img.img-responsive {
    margin: auto;
}
.container.joggers.text-center {
  padding-top: 3em;
}
.container-fluid.joggers-models .col-sm-6 {
  padding: 0;
}
.container-fluid.container-joggers .col-lg-6 {
  padding: 0;
}

.container-fluid.container-joggers .content{
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 90%; /* Full width */
  padding: 20px; /* Some padding */
}
.content a {
    color: #fff;
    text-decoration: none !important;
}
.content a:hover {
    color: #0ea2ce;
}
/*besik footer*/
footer.besik-footer {
    background-color: #fbfbfb;
    padding-top: 2em;
    font-size: 16px;
}
.footer-icons {
    display: inline-flex;
}
.row-footer h4 {
    color: #0ea2ce;
}
.row-footer .col-sm-12.col-md-4.col-lg-3 a {
    color: #000000;
    text-decoration: none;
}
.row-footer .col-sm-12.col-md-4.col-lg-3 a:hover {
    color: #0ea2ce;
}
.hours-email li {
  color: #000000;
}
.col-sm-12.col-md-4.col-lg-3 li {
    display: block;
    padding: 0.5em;
}
.about{
  text-transform: uppercase;
}
.connected {
  text-transform: uppercase;
}
.contact{
  text-transform: uppercase;
}
.container.copywright {
    background-color: #fbfbfb;

}
.footer-bottom .row.text-center {
    color: #fff;
    padding-bottom: 4em;
    padding-top: 4em;
}
.row.text-center p{
  padding-top: 2em;
}
img.checkout.img-responsive {
    float: right;
}
