@media only screen and (min-width: 768px) {
  .container.container-onesies {
      width: 900px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .container.container-onesies {
      width: 1200px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 768px) {
  .container.container-onesies {
      text-align: center;
  }

}
.blm {
    background-color: #1a465b;
    color: white;
    padding: 1em;
}
/* navigation bar */
div#besikNav {
    padding-left: 12em;
    margin-bottom: 1em;
}
nav.navbar.navbar-inverse {
    background-color: #ffffff;
    border: none;
}
.navbar-inverse .navbar-nav>li>a {
  color: #000 !important;
  font-size: 18px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background-color: #ccc !important;
}
ul.dropdown-menu {
  font-size: 18px;
}
.navbar-inverse .navbar-toggle {
    border-color: #333;
    background-color: #000000;
}
/*title for youth hoodies*/
p.lead.onesies.text-center {
    font-size: 3em;
    font-weight: 350;
}
div#products {
    width: 90%;
    padding-bottom: 2em;
}
.image.img-responsive {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
}
.container-1:hover .image {
  opacity: 0.3;
}

.container-1:hover .middle {
  opacity: 1;
}
.container-2:hover .image {
  opacity: 0.3;
}

.container-2:hover .middle {
  opacity: 1;
}
.container-3:hover .image {
  opacity: 0.3;
}

.container-3:hover .middle {
  opacity: 1;
}
.container-4:hover .image {
  opacity: 0.3;
}

.container-4:hover .middle {
  opacity: 1;
}
/*besik footer*/
footer.besik-footer {
    background-color: #000000;
    padding-top: 2em;
    font-size: 16px;
}
.footer-icons {
    display: inline-flex;
}
.row-footer h4 {
    color: #ffffff;
}
.row-footer .col-sm-12.col-md-4.col-lg-3 a {
    color: #ddd;
    text-decoration: none;
}
.row-footer .col-sm-12.col-md-4.col-lg-3 a:hover {
    color: #ffffff;
}
.hours-email li {
  color: #ddd;
}
.col-sm-12.col-md-4.col-lg-3 li {
    display: block;
    padding: 0.5em;
}
.about{
  text-transform: uppercase;
}
.connected {
  text-transform: uppercase;
}
.contact{
  text-transform: uppercase;
}
.container.copywright {
    background-color: #000000;
}
.footer-bottom .row.text-center {
    color: #fff;
    padding-bottom: 4em;
    padding-top: 4em;
}
.row.text-center p{
  padding-top: 2em;
}
