/*parallax responsive fixed at mobile*/
 @media only screen and (max-width: 768px) {
   .parallax, .parallax-1 {
     background-attachment: scroll !important;
   }
}
/* logo */
.container.logo {
    padding: 1em;
}
div#besikNav {
    padding-left: 12em;
    margin-bottom: 1em;
}
/* navigation bar */
nav.navbar.navbar-inverse {
    background-color: #ffffff;
    border: none;
}
.navbar-inverse .navbar-nav>li>a {
  color: #000 !important;
  font-size: 16px;
}
ul.nav.navbar-nav {
    float: right;
}
ul.dropdown-menu {
  font-size: 18px;
}
.navbar-inverse .navbar-toggle {
    border-color: #333;
    background-color: #0ea2ce;
}
/*banner image of hoodies center*/
img.hoodies.img-responsive {
    margin: auto;
}
/* sticky icon bar */
.icon-side-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
.icon-side-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  z-index: 0;
}
.icon-side-bar a:hover {
    background-color: #000;
}
.instagram {
  background: #bb0000;
  color: white;
}
.facebook {
  background: #3B5998;
  color: white;
}
.container.instagram {
    padding-bottom: 2em;
}
p.lead.besik-mission {
    font-family: 'Archivo', sans-serif;
}
/*padding on bottom of laptop/hat image*/
.container.container-banner {
    padding-bottom: 2em;
}
.container.container-banner .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: #000000; /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 45%; /* Full width */
    padding: 20px; /* Some padding */
}
.container.container-shop .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: #000000; /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 70%; /* Full width */
    padding: 20px; /* Some padding */
}
.container.container-shop-1 .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: #000000; /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 70%; /* Full width */
    padding: 20px; /* Some padding */
}
.content a {
    color: #fff;
    text-decoration: none !important;
}
.content a:hover {
    color: #fff;
}
.container.mission {
  background-color: #ffffff;
  padding: 2em;
}
.container.container-shop {
    padding-top: 4em;
}
.container.container-shop-1 {
  padding-bottom: 2em;
  padding-top: 4em;
}
.fa.fa-thumbs-up {
    font-size: 60px;
    color: #4267b2;
    cursor: pointer;
    user-select: none;
}
.fa:hover {
  color: #29487d;
}
.container.facebook-section {
    padding-bottom: 2em;
}
.container-fluid.container-shop .col-sm-4 {
    padding: 0;
}
.container-fluid.container-models .col-sm-4 {
    padding: 0;
}
.simple {
    background-color: #000000;
    color: white;
    padding: 2em;
}
.simple-subscription-form {
  background: #0c3e5f;
  color: #fefefe;
  padding: 2rem;
  border-radius: 0;
}

.simple-subscription-form .button {
  border-radius: 0 0 0 0;
  color: #000000;
  margin-bottom: 0;
}

input#mail {
    color: #000000;
    padding: .5em;
}
button.signup{
    background-color: #000000;
    padding: .5em;
    width: 20%;
}
.row.text-center {
    padding-bottom: 2em;
}
.container-1.text-center {
    padding-top: 4em;
    padding-bottom: 4em;
}
.container.testimonials {
    padding-top: 4em;
    padding-bottom: 4em;
}
.testimonials {
    background-color: #000000;
    color: white;
    padding-top: .1em;
}
.signups {
  background-color: #0c3e5f;
  color: white;
  padding-bottom: 2em;
  padding-top: 2em;
}
.checked {
    color: orange;
}
.section-title.text-center h2 {
    color: #0ea2ce;
}
h2.insta-banner.text-center a {
    text-decoration: none;
    color: #182948;
}
h2.insta-banner.text-center {
    padding-top: 1em;
}
/*besik footer*/
footer.besik-footer {
    background-color: #fbfbfb;
    padding-top: 2em;
    font-size: 16px;
}
.footer-icons {
    display: inline-flex;
}
.row-footer h4 {
    color: #0ea2ce;
}
.row-footer .col-sm-12.col-md-4.col-lg-3 a {
    color: #000000;
    text-decoration: none;
}
.row-footer .col-sm-12.col-md-4.col-lg-3 a:hover {
    color: #0ea2ce;
}
.hours-email li {
  color: #000000;
}
.col-sm-12.col-md-4.col-lg-3 li {
    display: block;
    padding: 0.5em;
}
.about{
  text-transform: uppercase;
}
.connected {
  text-transform: uppercase;
}
.contact{
  text-transform: uppercase;
}
.container.copywright {
    background-color: #fbfbfb;

}
.footer-bottom .row.text-center {
    color: #fff;
    padding-bottom: 4em;
    padding-top: 4em;
}
.row.text-center p{
  padding-top: 2em;
}
img.checkout.img-responsive {
    float: right;
}
