@media only screen and (min-width: 400px) and (max-width: 768px) {
  .container.container-variety {
      text-align: center;
  }
}
/*padding for brand logo */
.container.logo {
  padding: 1em;
}
/* navigation bar */
div#besikNav {
    padding-left: 12em;
    margin-bottom: 1em;
}
nav.navbar.navbar-inverse {
    background-color: #ffffff;
    border: none;
}
.navbar-inverse .navbar-nav>li>a {
  color: #000 !important;
  font-size: 18px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background-color: #0ea2ce !important;
}
ul.nav.navbar-nav {
  margin-left: 15em;
}
ul.dropdown-menu {
  font-size: 18px;
}
.navbar-inverse .navbar-toggle {
    border-color: #333;
    background-color: #0ea2ce;
}
.container.variety {
  background-color: #000000;
  width: 100%;
}
/*title for different hats*/
p.lead.variety.text-center {
    color: #ffffff;
    font-size: 3em;
    font-weight: 350;
}
img.img-responsive {
    margin: auto;
}
div#products {
    width: 90%;
    padding-bottom: 2em;
}
.shopify-buy-frame--product {
    display: -webkit-inline-box !important;
}
.container.container-variety {
    padding-top: 2em;
}
/*besik footer*/
footer.besik-footer {
    background-color: #fbfbfb;
    padding-top: 2em;
    font-size: 16px;
}
.footer-icons {
    display: inline-flex;
}
.row-footer h4 {
    color: #0ea2ce;
}
.row-footer .col-sm-12.col-md-4.col-lg-3 a {
    color: #000000;
    text-decoration: none;
}
.row-footer .col-sm-12.col-md-4.col-lg-3 a:hover {
    color: #0ea2ce;
}
.hours-email li {
  color: #000000;
}
.col-sm-12.col-md-4.col-lg-3 li {
    display: block;
    padding: 0.5em;
}
.about{
  text-transform: uppercase;
}
.connected {
  text-transform: uppercase;
}
.contact{
  text-transform: uppercase;
}
.container.copywright {
    background-color: #fbfbfb;

}
.footer-bottom .row.text-center {
    color: #fff;
    padding-bottom: 4em;
    padding-top: 4em;
}
.row.text-center p{
  padding-top: 2em;
}
img.checkout.img-responsive {
    float: right;
}
