/* logo */
.container.logo {
    padding: 1em;
}
.besik.img-responsive {
  margin: 0 auto;
}
/* navigation bar */
nav.navbar.navbar-inverse {
    background-color: #ffffff;
    border: none;
}
.navbar-inverse .navbar-nav>li>a {
  color: #000 !important;
  font-size: 16px;
}
ul.nav.navbar-nav {
    float: right;
}
ul.nav.navbar-nav a:hover{
    color: #ccc !important;
}
ul.dropdown-menu {
  font-size: 18px;
}
.navbar-inverse .navbar-toggle {
    border-color: #333;
    background-color: #0ea2ce;
}
.col-sm-12.lead.besik-privacy {
    font-family: 'Archivo', sans-serif;
}
/*besik footer*/
footer.besik-footer {
    background-color: #ffffff;
    padding-top: 2em;
    font-size: 16px;
}
.footer-icons {
    display: inline-flex;
}
.row-footer h4 {
    color: #0ea2ce;
}
.row-footer .col-sm-12.col-md-4.col-lg-3 a {
    color: #000000;
    text-decoration: none;
}
.row-footer .col-sm-12.col-md-4.col-lg-3 a:hover {
    color: #0ea2ce;
}
.hours-email li {
  color: #000000;
}
.col-sm-12.col-md-4.col-lg-3 li {
    display: block;
    padding: 0.5em;
}
.about{
  text-transform: uppercase;
}
.connected {
  text-transform: uppercase;
}
.contact{
  text-transform: uppercase;
}
.container.copywright {
    background-color: #ffffff;

}
.footer-bottom .row.text-center {
    color: #fff;
    padding-bottom: 4em;
    padding-top: 4em;
}
.row.text-center p{
  padding-top: 2em;
}
img.checkout.img-responsive {
    float: right;
}
