footer.besik-footer {
    background-color: #000;
}
.footer-icons {
    display: inline-flex;
}
.row-footer h4 {
    color: #55b9b9;
}
.row-footer .col-sm-12.col-md-4.col-lg-4 a {
    color: #fff;
    text-decoration: none;
}
.row-footer .col-sm-12.col-md-4.col-lg-4 a:hover {
    color: #efe992;
}

/*hey!*/
