.container-fluid {
    padding-top: 4em;
}
.container.five-day {
    padding-top: 2em;
}
p#demo {
    font-family: monospace;
    color: rgb(224, 35, 35);
}
ul.nav.navbar-nav {
    margin-left: 0.5em;
}
ul.nav.navbar-nav li {
	padding: 0.5em;
}
li.nav.navbar-nav.navbar-right {
	padding-top: 1em;
}
li.nav.navbar-nav.navbar-right a {
	padding: 0.5em;
}
nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #0ea2ce !important;
}
.navbar-inverse .navbar-nav>.open>a {
    background-color: #0ea2ce !important;
}
.header {
	  background-color: white !important;
}
h1.text-center, .text-left{
	font: normal 50px;
  font-family: "Courier New", Courier, monospace;
  color: hsl(188, 100%, 17%) !important;
}
nav.navbar.navbar-inverse {
    margin-bottom: 0;
    background-color: rgb(146, 25, 25);
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff !important;
  font-family: "Courier New", Courier, monospace;
}
.navbar-inverse .navbar-toggle {
    border-color: #333;
    background-color: #0ea2ce;
}
#myCarousel {
  position: relative;
}
.thumbnail {
  border: none !important;
}
.container.keep-it-basic {
    background-color: black;
    width: 100%;
    padding: 2em;
}
.container.keep-it-simple {
    background-color: black;
    width: 100%;
    padding: 2em;
}

.row.text-center {
    padding-bottom: 2em;
}

.container.text-center {
    padding-bottom: 2em;
}

.container-1.text-center {
    padding-top: 4em;
    padding-bottom: 4em;
}
div#besik-mission {
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: #fff;
    width: 100%
}
div#apparel-style {
    padding-top: 2.5em;
}
#why-besik p {
    font-size: 16px;
}
.section-title.text-center h2 {
    color: #0ea2ce;
}
footer.besik-footer {
    background-color: #0ea2ce;
    position: absolute;
    width: 100%
}
.footer-icons {
    display: inline-flex;
}
.row-footer h4 {
    color: #efe992;
}
.row-footer .col-sm-12.col-md-4.col-lg-4 a {
    color: #fff;
    text-decoration: none;
}
.row-footer .col-sm-12.col-md-4.col-lg-4 a:hover {
    color: #efe992;
}
.hours-email li {
  color: white;
}
.col-sm-12.col-md-4.col-lg-4 li {
    display: block;
    padding: 1em;
}
.container.copywright {
    background-color: #0ea2ce;
    width: 100%;
}
.footer-bottom .row.text-center {
    color: #fff;
    padding-bottom: 1em;
    padding-top: 1em;
}
.payment-icons {
    display: inline-block;
    float: right;
    margin-top: -0.5em;
    clear: both;
}
.parallax {
    background-image: url("images/track-girls.jpg");
    min-height: 350px;
    background-attachment: none !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-1 {
    background-image: url("images/danny-eos.jpeg");
    min-height: 350px;
    background-attachment: none !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-2 {
    background-image: url("images/golf-bae.jpeg");
    min-height: 350px;
    background-attachment: none !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
