.container.shipping {
    background-color: #182948;
    padding-top: 1em;
    width: 100%;
}
.besik.img-responsive {
  margin: 0 auto;
}
.navbar {
  padding: 1em;
}
.navbar-inverse .navbar-toggle {
    background-color: #0ea2ce;
}
nav.navbar.navbar-inverse {
  background-color: rgb(146, 25, 25);
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff !important;
}
ul.nav.navbar-nav a:hover {
    color: #0ea2ce !important;
}
div.container.service-terms {
    color: #000000;
    margin-top: -3em;
}
.container.partnerships {
    background-color: #ffffff;
    padding-bottom: 2em;
    padding-top: 2em;
    width: 100%;
}
.row.partnerships {
    display: inline-flex;
}
/*besik footer*/
footer.besik-footer {
    background-color: #182948;
    padding-top: 2em;
    position: absolute;
    font-size: 16px;
    width: 100%;
}
.footer-icons {
    display: inline-flex;
}
.row-footer h4 {
    color: #efe992;
}
.row-footer .col-sm-12.col-md-4.col-lg-3 a {
    color: #fff;
    text-decoration: none;
}
.row-footer .col-sm-12.col-md-4.col-lg-3 a:hover {
    color: #0ea2ce;
}
.hours-email li {
  color: white;
}
.col-sm-12.col-md-4.col-lg-3 li {
    display: block;
    padding: 0.5em;
}
.about{
  text-transform: uppercase;
}
.connected {
  text-transform: uppercase;
}
.contact{
  text-transform: uppercase;
}
.container.copywright {
    background-color: #182948;

}
.footer-bottom .row.text-center {
    color: #fff;
    padding-bottom: 4em;
    padding-top: 4em;
}
.row.text-center p{
  padding-top: 2em;
}
.payment-icons {
    display: inline-block;
    float: right;
    margin-top: -0.5em;
    clear: both;
}
